.aider*
node_modules/
*.log
*.pid
*.pid.lock
*.seed
*.tgz
.npmrc
.node_repl_history
.yarn-integrity
.env
.env.test
.cache
.parcel-cache
.next
.nuxt
.vuepress
dist/
build/
coverage/
.DS_Store
*.swp
*.swo
*.tmp
*.temp
*.bak
*.sublime-project
*.sublime-workspace
.vscode/
.history/
*.lock
package-lock.json
yarn.lock
